.container {
    width: 1600px;
    margin: 0 auto;
    box-sizing: border-box;
}
.menu, .bars {
    visibility: hidden;
}
body {
    position: relative;
}

@media screen and (max-width:1200px) {
    .container {
        width: 1200px;
        margin: 0 auto;
    }
}

@media screen and (max-width:992px) {
    .container {
        width: 950px;
        margin: 0 auto;

    }
}

@media screen and (max-width:767px) {
    .container {
        width: 760px;
    }

    .menu__box {
        position: absolute;
        width: 300px;
        height: 30vh;
        padding: 10px;
        display: flex;
        flex-direction: column;

        background-color: cyan;
        border: 1px solid #333;
        transform: translateX(-800px);

    }
    .bars {
        visibility: visible;
    }
    .menu {
        visibility: hidden;
    }
    .menu:checked ~ .menu__box {
        transition: all 1s ease-in-out;
        transform: translateX(-350px);
        z-index: 9999;
    }
    .nav-box__items{
        text-align: center;
        margin-top: 20px;
    }
    
}

@media screen and (max-width:575px) {
    .container {
        width: 550px;
    }
    
}
@media screen and (max-width:320px) {
    .container {
        width: 320px;
    }
    body {
        margin-left: 150px;
    }
    
}