.container {
  width: 1600px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.menu, .bars {
  visibility: hidden;
}

body {
  position: relative;
}

@media screen and (max-width: 1200px) {
  .container {
    width: 1200px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 992px) {
  .container {
    width: 950px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 767px) {
  .container {
    width: 760px;
  }
  .menu__box {
    position: absolute;
    width: 300px;
    height: 30vh;
    padding: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: cyan;
    border: 1px solid #333;
    -webkit-transform: translateX(-800px);
            transform: translateX(-800px);
  }
  .bars {
    visibility: visible;
  }
  .menu {
    visibility: hidden;
  }
  .menu:checked ~ .menu__box {
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    -webkit-transform: translateX(-350px);
            transform: translateX(-350px);
    z-index: 9999;
  }
  .nav-box__items {
    text-align: center;
    margin-top: 20px;
  }
}

@media screen and (max-width: 575px) {
  .container {
    width: 550px;
  }
}

@media screen and (max-width: 320px) {
  .container {
    width: 320px;
  }
  body {
    margin-left: 150px;
  }
}

.btn {
  padding: 10px;
  border-radius: 10px;
  border: 2px solid #333;
  background-color: #263238;
  text-decoration: none;
  color: #fff;
}

.nav__button {
  margin-left: 200px;
  background-color: #fff;
}

.head-body__button {
  padding: 25px 70px;
  font-size: 20px;
  border-radius: 10px;
  margin-left: 50px;
}

.skills-body__button {
  text-align: center;
  padding: 20px  30px;
  margin-left: 50px;
  margin-top: 30px;
}

.price-item__button {
  padding: 20px;
  background-color: #F5F5F5;
  color: #263238;
}

.price-item__button > span {
  font-size: 30px;
}

.footer__button {
  margin-left: 10px;
  padding: 20px 40px;
}

input {
  width: 350px;
  padding: 20px 40px;
  border-radius: 10px;
  border: 1px solid #333;
}

@media screen and (max-width: 767px) {
  .head-body__button {
    margin-left: 30px;
    padding: 20px 40px;
  }
  .skills-body__button {
    padding: 10px  20px;
    margin-left: 20px;
  }
  .price-item__button {
    padding: 15px;
  }
  .price-item__button > span {
    font-size: 20px;
  }
  .footer__button {
    padding: 10px;
    margin: 20px 0;
  }
  input {
    padding: 10px 20px;
    width: 200px;
  }
}

@media screen and (max-width: 575px) {
  .head-body__button {
    margin: 0;
  }
  .price-item__button {
    padding: 10px;
  }
  .price-item__button > span {
    font-size: 16px;
  }
}

@media screen and (max-width: 320px) {
  .footer__button {
    width: 200px;
    padding: 10px;
    margin: 50px 0;
    margin-top: 100px;
  }
}

.nav-box__items:hover {
  color: darkblue;
}

.site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0;
  font-family: Poppins, Arial, sans-serif;
  font-weight: 500;
  font-size: 20px;
}

.nav-box__items {
  text-decoration: none;
  margin-left: 20px;
  color: #333;
}

@media screen and (max-width: 1200px) {
  .nav-box__items {
    margin-left: 18px;
  }
}

@media screen and (max-width: 992px) {
  .nav-box__items {
    margin-left: 15px;
  }
}

@media screen and (max-width: 575px) {
  .site-nav {
    width: 500px;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

@media screen and (max-width: 320px) {
  .site-nav {
    width: 300px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .logo {
    margin-right: 200px;
  }
}

.head-body {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.head-body__textbox {
  width: 500px;
  margin-top: 70px;
}

.head-body__title {
  margin-top: 20px;
  font-size: 48px;
  width: 400px;
  margin-bottom: 60px;
}

.head-body__img {
  position: absolute;
  left: 300px;
  top: 10px;
}

.head-body__text {
  color: #8F95A5;
  width: 400px;
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 100px;
}

.head-title_box {
  position: relative;
}

@media screen and (max-width: 1200px) {
  .head-body {
    padding-left: 50px;
  }
}

@media screen and (max-width: 992px) {
  .head-body {
    padding-left: 40px;
  }
  .head-body__textbox {
    width: 450px;
  }
  .head-body__rasm {
    width: 450px;
    height: 450px;
  }
  .head-body__text {
    width: 300px;
  }
}

@media screen and (max-width: 767px) {
  .head-body {
    padding-left: 20px;
  }
  .head-body__textbox {
    width: 350px;
  }
  .head-body__rasm {
    margin-top: 100px;
    width: 350px;
    height: 350px;
  }
  .head-body__text {
    width: 300px;
  }
}

@media screen and (max-width: 575px) {
  .head-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin: 0 auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 100px;
  }
  .head-body__img {
    display: none;
  }
  .head-body__rasm {
    width: 450px;
    height: 400px;
  }
  .head-body__textbox {
    text-align: center;
    width: 400px;
  }
  .head-body__title {
    width: 400px;
    font-size: 30px;
  }
  .head-body__text {
    width: 400px;
    font-size: 16px;
  }
}

@media screen and (max-width: 320px) {
  .head-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin: 0 auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 100px;
  }
  .head-body__img {
    display: none;
  }
  .head-body__rasm {
    width: 250px;
    height: 200px;
  }
  .head-body__textbox {
    text-align: center;
    width: 250px;
  }
  .head-body__title {
    width: 250px;
    font-size: 30px;
  }
  .head-body__text {
    width: 300px;
    font-size: 16px;
  }
}

.site-skills {
  margin-left: 0;
  position: relative;
  font-family: Poppins, Arial, Helvetica, sans-serif;
}

.site-skills__title {
  text-align: center;
  font-size: 48px;
  font-weight: 600;
  margin-bottom: 30px;
}

.site-skills-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  list-style-type: none;
  width: 1500px;
}

.skills-body__item {
  height: 650px;
  width: 400px;
  padding: 5px;
  line-height: 30px;
  background-color: #F5F5F5;
  margin: 50px 10px;
}

.skills-body__title {
  text-align: center;
  font-weight: 600;
  font-size: 20px;
  margin: 10px 0;
}

.skills-body__text {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 300px;
  color: #8F95A5;
  margin-bottom: 40px;
}

.txt {
  margin-bottom: 80px;
}

.txt1 {
  margin-bottom: 70px;
}

.higher-item {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px 20px;
  width: 430px;
  line-height: 30px;
  background-color: #F5F5F5;
  margin: 50px 20px;
  padding-bottom: 390px;
}

.higher-item__text {
  width: 350px;
}

.wider-item {
  width: 870px;
  padding: 12px;
  height: auto;
  position: absolute;
  top: 800px;
  left: 600px;
}

.wider-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: auto;
}

.wider-box__text {
  width: 430px;
  margin: 30px 0 45px;
}

@media screen and (max-width: 1200px) {
  .site-skills-body {
    width: 1150px;
  }
  .skills-body__item {
    width: 320px;
    margin: 40px 10px;
  }
  .skills-body__img1 {
    width: 300px;
    height: 300px;
  }
  .skills-body__img2 {
    width: 300px;
    height: 250px;
  }
  .higher-item {
    width: 330px;
    margin: 40px 20px;
    padding-bottom: 300px;
  }
  .wider-item {
    padding: 11px;
    width: 670px;
    top: 785px;
    left: 470px;
  }
  .wider-box__text {
    width: 300px;
    margin: 25px 0 35px;
  }
}

@media screen and (max-width: 992px) {
  .site-skills {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .site-skills-body {
    margin-left: -60px;
    width: 980px;
    position: relative;
  }
  .skills-body__title {
    width: 200px;
  }
  .skills-body__text {
    width: 200px;
    margin-left: 10px;
    margin-bottom: 30px;
  }
  .skills-body__item {
    width: 200px;
    margin: 40px 0;
    margin-left: -80px;
  }
  .skills-body__img1 {
    width: 200px;
    height: 200px;
  }
  .skills-body__img2 {
    position: absolute;
    width: 200px;
    height: 200px;
    left: 270px;
  }
  .higher-item {
    width: 220px;
    margin: 40px 0px;
    padding-bottom: 220px;
  }
  .higher-item__text {
    width: 200px;
  }
  .wider-item {
    padding: 7px;
    width: 460px;
    top: 700px;
    left: 520px;
  }
  .wider-box__text {
    text-align: left;
    width: 300px;
    margin: auto;
    margin-left: 10px;
    margin-bottom: 22px;
  }
  .skills-body__button {
    padding: 15px  20px;
  }
}

@media screen and (max-width: 767px) {
  .site-skills__title {
    font-size: 30px;
  }
  .site-skills-body {
    width: 760px;
  }
  .higher-item {
    margin: 0 5px;
    margin-left: 20px;
    width: 200px;
    padding-bottom: 290px;
  }
  .higher-item__text {
    width: 180px;
  }
  .skills-body__img1 {
    width: 180px;
    height: 180px;
  }
  .higher-item__text {
    width: 180px;
  }
  .skills-body__text {
    width: 180px;
  }
  .txt {
    margin-bottom: 50px;
  }
  .skills-body__item {
    width: 200px;
    margin: 0 5px;
  }
  .txt1 {
    margin-bottom: 60px;
  }
  .wider-item {
    padding: 7px;
    width: 435px;
    top: 700px;
    left: 330px;
  }
  .wider-box__text {
    line-height: normal;
    font-size: 20px;
    width: 220px;
  }
  .wider-box .skills-body__img2 {
    width: 150px;
    height: 180px;
  }
}

@media screen and (max-width: 575px) {
  .site-skills-body {
    margin-left: 20px;
    width: 550px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    position: relative;
  }
  .skills-body__img2 {
    position: static;
  }
  .reading {
    position: absolute;
    left: 50px;
    top: 850px;
    padding-bottom: 130px;
  }
  .skills-body__item {
    width: 240px;
    height: auto;
  }
  .higher-item {
    padding: 5px;
    padding-bottom: 20px;
    width: 240px;
  }
  .wider-item {
    padding-top: 150px;
    height: 150px;
    margin-top: -650px;
    margin-left: -190px;
    margin-right: 190px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
    position: relative;
  }
  .skills-body__img2 {
    position: absolute;
    top: -20px;
    left: 20px;
  }
}

@media screen and (max-width: 320px) {
  .site-skills-body {
    margin-left: 20px;
    width: 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    position: relative;
  }
  .skills-body__img2 {
    position: static;
  }
  .reading {
    position: absolute;
    left: 50px;
    top: 1450px;
    padding-bottom: 130px;
    margin-bottom: 50px;
  }
  .skills-body__item {
    width: 240px;
    height: auto;
  }
  .higher-item {
    padding: 5px;
    padding-bottom: 20px;
    width: 240px;
    margin-bottom: 50px;
  }
  .wider-item {
    padding-top: 150px;
    height: 150px;
    margin-top: 50px;
    margin-left: -190px;
    margin-right: 500px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
    position: relative;
  }
  .skills-body__img2 {
    position: absolute;
    top: -20px;
    left: 20px;
  }
}

.site-about {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 100px;
}

.site-about__title {
  font-size: 48px;
  font-weight: 600;
  margin-bottom: 30px;
}

.site-about__text {
  width: 650px;
  font-size: 20px;
  line-height: 30px;
  color: #8F95A5;
}

.site-about__numbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 50px;
  list-style-type: none;
  text-align: center;
}

.site-about__categories > span {
  font-size: 48px;
  font-weight: 600;
}

.site-about__categories > p {
  font-size: 20px;
  font-weight: 400;
}

@media screen and (max-width: 1200px) {
  .site-about__text {
    width: 500px;
  }
  .site-about__numbers {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .site-about__img {
    width: 500px;
  }
}

@media screen and (max-width: 992px) {
  .site-about {
    position: relative;
  }
  .site-about_body {
    margin-left: -350px;
  }
  .site-about__title {
    font-size: 30px;
  }
  .site-about__text {
    width: 500px;
    font-size: 16px;
  }
  .site-about__numbers {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .site-about__img {
    position: absolute;
    width: 400px;
    left: 500px;
  }
}

@media screen and (max-width: 767px) {
  .site-about {
    position: relative;
  }
  .site-about_body {
    margin-left: -230px;
  }
  .site-about__title {
    font-size: 30px;
  }
  .site-about__text {
    width: 300px;
    font-size: 16px;
  }
  .site-about__numbers {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-align: center;
  }
  .site-about__img {
    position: absolute;
    width: 250px;
    height: 250px;
    left: 500px;
    top: 100px;
  }
  .site-about__categories > span {
    font-size: 20px;
  }
  .site-about__categories > p {
    font-size: 16px;
    width: 20px;
  }
}

@media screen and (max-width: 575px) {
  .site-about {
    margin-top: 700px;
    position: relative;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .site-about_body {
    margin-left: 50px;
  }
  .site-about__title {
    font-size: 30px;
    margin-bottom: 300px;
  }
  .site-about__text {
    width: 300px;
    font-size: 16px;
  }
  .site-about__numbers {
    margin-left: -50px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-align: center;
  }
  .site-about__img {
    position: absolute;
    width: 200px;
    height: 250px;
    left: 200px;
    top: 80px;
  }
}

@media screen and (max-width: 320px) {
  .site-about {
    margin-top: 700px;
    position: relative;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .site-about_body {
    margin-left: 50px;
  }
  .site-about__title {
    font-size: 30px;
    margin-bottom: 300px;
  }
  .site-about__text {
    width: 300px;
    font-size: 16px;
  }
  .site-about__numbers {
    margin-left: -50px;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    text-align: center;
  }
  .site-about__img {
    position: absolute;
    width: 200px;
    height: 250px;
    left: 70px;
    top: 80px;
  }
}

.footer {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  margin: 100px 0;
}

.footer-end {
  margin: 100px 0;
}

.footer-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer__title {
  text-align: center;
  font-size: 48px;
  font-weight: 600;
  margin-bottom: 30px;
}

.footer__text {
  margin-top: 20px;
  width: 750px;
  font-size: 20px;
  margin-bottom: 50px;
  color: #8F95A5;
}

.footer-end {
  margin: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__logo {
  font-size: 24px;
}

.footer-end > a {
  color: #8F95A5;
  text-decoration: none;
}

hr {
  margin: 30px 0;
}

@media screen and (max-width: 1200px) {
  .footer__text {
    width: 650px;
  }
  .footer__img {
    width: 450px;
  }
  hr {
    width: 1100px;
  }
  .footer-end {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media screen and (max-width: 992px) {
  .footer__textbox {
    width: 450px;
  }
  .footer__title {
    width: 450px;
  }
  .footer__text {
    width: 450px;
  }
  .footer__img {
    width: 400px;
  }
  input {
    width: 250px;
  }
  hr {
    width: 950px;
  }
  .footer-end {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media screen and (max-width: 767px) {
  .footer-body {
    margin-bottom: 100px;
  }
  .footer__textbox {
    width: 350px;
  }
  .footer__title {
    width: 350px;
  }
  .footer__text {
    width: 300px;
  }
  .footer__img {
    width: 300px;
    height: 300px;
  }
  input {
    width: 200px;
    margin-top: 100px;
  }
  hr {
    width: 700px;
  }
  .footer-end {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media screen and (max-width: 575px) {
  .footer-body {
    display: block;
    margin-left: 150px;
    margin-bottom: 100px;
  }
  .footer__textbox {
    width: 350px;
  }
  .footer__title {
    width: 350px;
  }
  .footer__text {
    width: 400px;
  }
  .footer__img {
    width: 300px;
    height: 300px;
  }
  input {
    width: 200px;
    margin-top: 100px;
  }
  hr {
    width: 500px;
  }
  .footer__logo {
    margin-right: 100px;
  }
  .footer-end {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (max-width: 320px) {
  .footer-body {
    display: block;
    margin-left: 50px;
    margin-bottom: 100px;
  }
  .footer__textbox {
    width: 250px;
  }
  .footer__title {
    width: 250px;
  }
  .footer__text {
    width: 200px;
  }
  .footer__img {
    width: 250px;
    height: 250px;
  }
  input {
    width: 200px;
    margin-top: 100px;
  }
  hr {
    width: 300px;
  }
  .footer__logo {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 50px 0;
    margin-bottom: 100px;
  }
  .footer-end {
    display: block;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer-end > a {
    width: 200px;
    font-size: 14px;
  }
}

.site-prices {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  margin-top: 100px;
}

.site-prices__title {
  text-align: center;
  font-size: 48px;
  font-weight: 600;
  margin-bottom: 30px;
}

.site-prices_box {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.site-prices__item {
  width: 500px;
  text-align: center;
  text-align: left;
}

.prices-item__title {
  font-weight: 600;
  font-size: 30px;
  margin: 10px 0;
}

.prices-item__text {
  width: 350px;
  margin-top: 20px;
  font-size: 20px;
  margin-bottom: 50px;
  color: #8F95A5;
}

@media screen and (max-width: 1200px) {
  .site-prices__item {
    width: 350px;
  }
  .site-prices__img {
    width: 300px;
  }
  .site-prices_box {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .prices-item__text {
    width: 300px;
  }
}

@media screen and (max-width: 992px) {
  .site-prices__item {
    width: 300px;
  }
  .site-prices__img {
    width: 250px;
    height: 250px;
  }
  .site-prices_box {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .prices-item__text {
    width: 250px;
  }
}

@media screen and (max-width: 767px) {
  .site-prices__item {
    width: 220px;
  }
  .site-prices__img {
    width: 150px;
    height: 150px;
  }
  .site-prices_box {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .prices-item__title {
    font-size: 20px;
  }
  .prices-item__text {
    width: 150px;
  }
}

@media screen and (max-width: 575px) {
  .site-prices__item {
    width: 250px;
  }
  .site-prices__img {
    margin-top: 20px;
    width: 200px;
    height: 200px;
  }
  .site-prices_box {
    margin-left: 150px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: block;
  }
  .prices-item__title {
    font-size: 20px;
    width: 200px;
  }
  .prices-item__text {
    width: 200px;
  }
}

@media screen and (max-width: 320px) {
  .site-prices__item {
    width: 250px;
  }
  .site-prices__img {
    margin-top: 20px;
    width: 200px;
    height: 200px;
  }
  .site-prices_box {
    margin-left: 50px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: block;
  }
  .prices-item__title {
    font-size: 20px;
    width: 200px;
  }
  .prices-item__text {
    width: 200px;
  }
}

/* end of head nav  */
/* start of head body  */
/* end of head  */
/* start of main  */
/* end of skills section*/
/* about section*/
/* end of main  */
/* start of footer  */
/* end of css */
/*# sourceMappingURL=style.css.map */